# Copy this file to `keystore.properties` and fill in your release key details.
# DO NOT commit `keystore.properties` or your `.keystore` / `.jks` file to git repository!

storeFile=release.keystore
storePassword=your_keystore_password
keyAlias=your_key_alias
keyPassword=your_key_password
